<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.toddlercolors"
    android:versionCode="1"
    android:versionName="1.0" 
    >
    <supports-screens android:xlargeScreens="true" 
   					  android:compatibleWidthLimitDp="320" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:debuggable="true">
        <activity
            android:name="com.toddlercolors.main.ToddlerMain"
            android:label="@string/title_activity_toddler_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.toddlercolors.main.AboutToddlerColors"
            android:label="@string/about" 
            android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity
            android:name="com.toddlercolors.main.Prefs"
            android:label="@string/menu_settings">
        </activity>
         <activity
            android:name="com.toddlercolors.main.FruitsAndColors"
            android:label="@string/color_game1">
        </activity>
                 <activity
            android:name="com.toddlercolors.main.VeggiesAndColors"
            android:label="@string/color_game2">
        </activity>
        <activity
            android:name="com.toddlercolors.main.MatchColors"
            android:label="@string/color_game3">
        </activity>
    </application>

</manifest>